body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden; /* Impede o overflow horizontal */
}

header {
    background-color: #c7e908;
    color: rgb(18, 1, 95);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    flex-wrap: wrap;
}

.logo {
    font-size: 2.5em;
    font-weight: bold;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(0, 148, 86);
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #00bcd4;
}

.conteudo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #011808;
}

.texto-esquerdo, .texto-direito {
    flex: 1;
    min-width: 300px;
    font-size: 1.2em;
    color: #e26600;
    padding: 10px;
    word-wrap: break-word; /* Quebra palavras longas para evitar overflow */
    overflow-wrap: break-word; /* Garante que o conteúdo não ultrapasse a largura */
}

.imagem-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 20px 0;
}

.imagem-container img {
    width: 100%;
    max-width: 220px;
    height: auto;
    border: 2px solid #00bcd4;
    border-radius: 50%;
}

.imagemdomeio {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #18181888;
}

.imagemdomeio img {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
}

.textooficial {
    background-color: #1f1f1f;
    width: 100%;
    padding: 20px;
    font-size: 1.2em;
    color: #90d6f7;
    text-align: center;
}

.textooficialsocio {
    background-color: #1f1f1f;
    width: 100%;
    padding: 20px;
    font-size: 1.2em;
    color: #90d6f7;
    text-align: center;
}

h1 {
    color: rgba(13, 106, 245, 0.808);
}

.p1, .p2, .p3 {
    max-width: 90%;
    margin: 10px auto;
    display: block;
    word-wrap: break-word; /* Quebra palavras longas nos parágrafos */
    overflow-wrap: break-word; /* Evita o overflow do texto */
}

.p2 {
    color: green;
    font-style: italic;
}

.p3 {
    color: rgb(255, 96, 96);
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        justify-content: center;
        padding-top: 10px;
    }

    .conteudo {
        flex-direction: column;
    }

    .texto-esquerdo, .texto-direito {
        width: 100%;
        text-align: center;
    }

    .COMOCOMPRAR {
    padding: 10px;
    background-color: #1f1f1f;
    width: 100%;
    padding: 20px;
    font-size: 1.2em;
    color: #00a97b;
    text-align: center;
}

    /* Garante que o conteúdo não ultrapasse a largura da tela */
    .textooficial {
        padding: 10px;
    }
}
